
@media screen and (max-width: 1799px)
   .call__bg
      bottom: -223px
   .footer__bg
      width: 110%
@media screen and (max-width: 1699px)
   .eff__wrap
      padding-top: 100px
   .footer__bg
      height: 112%
   .footer__content:after 
      width: 920px
      top: 71px
      right: 108px
   .call__bg
      bottom: -163px
@media screen and (max-width: 1599px)
   .call__bg
      bottom: -137px
@media screen and (max-width: 1499px)
   .eff__block
      margin-left: 100px
   .eff__wrap
      padding-top: 100px
   .footer__bg 
      left: 0px
      height: 115%
      width: 115%
   .call__bg 
      bottom: -67px
      width: 106%
   .footer__content:after
      left: 0
@media screen and (max-width: 1399px)
   .call__bg 
      bottom: 0px
@media screen and (max-width: 1299px)
   .call__bg
      width: 108%
   .call__form
      max-width: 468px
   .footer__bg
      width: 119%
@media screen and (max-width: 1199px)
   .menu-btn 
      width: 48px
      height: 24px
      position: absolute
      right: 26px
      top: 33px
      z-index: 11
      overflow: hidden
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: white
      transition: all 0.5s
      margin-left: 5px
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 48px
      height: 2px
      margin-left: 0
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 24px
      height: 2px
      margin-left: 12px
   .menu 
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 40px 
      background-color: #212525
      transform: translateX(-100%)
      transition: transform 0.5s
      z-index: 10
      overflow: hidden
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      right: 30px
      top: 33px
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
      background-color: white
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
      background-color: white
   .menu-btn, .menu
      display: block
   .art__per 
      display: block
      width: 100%
      img 
         width: 100%
         height: 218px
         object-fit: cover
   .art__content
      width: 100%
   .art__name
      margin: 10px 40px 31px 0
   .info__box
      flex-direction: column-reverse
   .info__wrap
      max-width: 100%
      margin-left: 0
      height: 500px
      margin-bottom: 30px
   .info__item
      padding: 41px 25px 21px 25px
   .info__box
      margin-top: 40px
   .info, .eff
      padding: 80px 0
   .eff__box
      margin-top: 40px
      flex-wrap: wrap
   .eff__item
      height: 370px
   .eff__wrap
      height: 794px
   .news__box
      margin-top: 40px
      flex-direction: column
   .news__content
      margin-left: 0
      margin-top: 30px
   .news__main
      max-width: 100%
   .news, .call
      padding: 80px 0
   .call__box
      flex-direction: column
   .call__wrap
      width: 90%
      margin-top: 40px
   .call__form
      max-width: 100% 
      margin-top: 60px
      top: 0
   .call #map
      left: inherit
      right: 0%
      top: 29px
   .call__bg
      opacity: 0
   .footer
      padding-top: 160px
   .footer__bg
      width: 130% 
      height: 100%
   .footer__title
      font-size: 14px
   .footer__list li a
      font-size: 13px
   .footer__content
      margin-left: 52px
   .footer__policy
      left: 0
      font-size: 13px
   .footer__mind, .footer__com p
      font-size: 13px
   .footer__tel
      font-size: 16px
   h2 
      font-size: 38px !important
   .call__fif 
      width: 80px
      height: 80px
      top: 0px
      left: 25%
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .art__name
      font-size: 14px
      line-height: 19px
   .info__item
      width: 47.8%
      box-shadow: 0px 4px 46px 0 rgba(108, 108, 108, 0.19)
   .info__wrap
      height: 400px
   .eff__item 
      width: 45.37%
      margin: 15px
   .eff__box
      justify-content: center
   .eff__block
      margin-left: 46px
   .eff__wrap 
      height: 660px
      margin: 80px 0
      padding: 50px 0
   .news, .call
      padding: 60px 0
   .footer__content
      display: none
   .footer__left 
      width: 100%
      margin: 0 auto
      text-align: center
   .footer
      padding-top: 60px
   .footer .call__socials
      justify-content: center
   .footer__bottom
      flex-direction: column
      text-align: center
   .footer__policy
      margin: 25px auto
   .footer__last
      margin-top: 30px 
      padding-top: 30px
@media screen and (max-width: 767px)
   .art__link img
      margin-left: 15px
   .art__content
      margin-left: 30px
   .art__data
      left: -33px
      font-size: 13px
   .popup, .popup2, .popup3, .popup4, .popup5, .popup6, .popup7, .popup8, .popup9
      width: 95%
      padding: 60px 20px
   h2 
      font-size: 30px !important
   .info__name 
      font-size: 16px
      line-height: 21px
   .eff__item
      width: 100%
      margin: 0 auto 25px !important
   .eff__block
      margin-left: 0
      padding: 40px 30px
      max-width: 100%
   .eff__title
      font-size: 30px
      margin-bottom: 15px
   .eff__content p
      font-size: 14px
      margin-bottom: 10px
      br 
        display: none 
   .eff__bg
      object-fit: cover
   .eff__wrap
      height: 468px
   .art__arrows
      display: none
   .news__main
      height: 300px
   .news__name
      font-size: 13px
      br 
         display: none
   .call #map 
      left: inherit
      right: 0%
      top: 0
      width: 100%
      position: relative
      height: 400px
      margin: 25px auto
      border-radius: 20px
   .call__wrap
      width: 100%
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mob 
      display: block
   .art__arrows
      display: none
   .art .swiper44
      margin-top: 30px
   .ul 
      flex-direction: column !important
      li 
         margin: 0 auto 40px !important
         width: 100% !important
   .info, .eff
      padding: 40px 0
   h2 
      font-size: 24px !important
   .info__wrap 
      height: 300px
      padding: 20px
   .info__box
      margin-top: 30px
   .info__item
      width: 100%
      margin-bottom: 30px !important
   .eff__box
      margin-top: 30px
   .eff__item
      padding: 20px
      height: 300px
   .eff__name
      font-size: 16px
   .eff__wrap
      height: 578px
      margin: 40px 0
   .eff__block
      max-width: 345px
   .art 
      .container
         position: relative
         padding-bottom: 40px
   .art .swiper44 .swiper-pagination44
      margin-top: 30px
   .art__link 
      position: absolute
      bottom: -44px
      left: 50%
      margin-left: -90px
   .art__data
      left: -50px
   .news__box
      margin-top: 30px
   .news, .call
      padding: 40px 0
   .news__main
      padding: 20px
   .news__main .news__name
      line-height: 1.61
      font-size: 16px
   .news__content
      margin-top: 20px
   .news__item
      width: 100%
      margin-bottom: 20px
   .call__wrap
      padding: 40px 0 40px 
      border-radius: 0 20px 20px 0
   .call__socials
      margin-top: 30px
   .call__fif
      left: inherit
      right: 15px
      top: 1px
   .call__flex input
      width: 100%
   .call__flex
      flex-direction: column
   .call__form input
      margin-bottom: 30px
      font-size: 16px
   .call__form textarea
      font-size: 16px
      min-height: 70px
   .call__row
      margin-top: 25px
      flex-direction: column
      align-items: flex-start
   .call__btn
      width: 100%
      margin: 30px auto 0
   .call__form
      margin-top: 40px
   .call #map
      margin-top: 40px
   .footer__logo
      width: 140px
   .footer__mind, .footer__com p
      font-size: 12px
   .footer__policy
      font-size: 12px
      margin: 20px auto
   .footer 
      padding-top: 50px
      margin-top: 30px
   .news 
      .container
         position: relative
         padding-bottom: 40px
   .call 
      padding-top: 80px
   .info__item:last-child
      margin-bottom: 0 !important
